/* styles.css */
header {
    background-color: #ffa6a6;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.row {
    margin: 0 -5px;
    
}

.row::after {
    content: "";
  display: table;
  clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

.parrafoIntro {
    font-size: 16px; /* Tamaño de texto */
    line-height: 1.5; /* Espaciado entre líneas */
    text-align: center; /* Justificar el texto */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espacio después del párrafo */
    margin-left: 13%;
    margin-right: 13%;

}